<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Profile with overview and edit - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="/profileEdit/profileEdit.css" rel="stylesheet">
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
        font-family: Arial, Helvetica, sans-serif;
        color: black
    }

    .bootstrap-iso form button, .bootstrap-iso form button:hover {
        color: white !important;
    }

    .asteriskField {
        color: red;
    }</style>
</head>
<body>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="page-profile">
        <div class="row">
            <!-- COL 1 -->
            <div class="col-md-3">
                <section class="panel">
                    <div class="panel-body noradius padding-10">
                        <figure class="margin-bottom-10"><!-- image -->
                            <img class="img-responsive" th:src="${user.image!=null ? '/image/' + user.image.getId() :
                                'https://bootdey.com/img/Content/avatar/avatar6.png'}" alt="">
                        </figure><!-- /image -->

                        <!-- progress bar -->
                        <h6 class="progress-head">Profile Completion <span class="pull-right">60%</span></h6>
                        <div class="progress progress-xs">
                            <div class="progress-bar" role="progressbar" style="width: 60%;"></div>
                        </div><!-- /progress bar -->

                        <!-- updated -->
                        <ul class="list-unstyled size-13">
                            <li class="text-gray"><i class="fa fa-check"></i> Update Your Birthday</li>
                            <li class="text-gray"><i class="fa fa-check"></i> Update Profile Picture</li>
                            <li>Confirm Your Account</li>
                            <li>Update Your Address</li>
                        </ul><!-- /updated -->

                        <hr class="half-margins">

                        <!-- About -->
                        <h3 class="text-black" th:text="${user.profileInfo.name}+ ' '+ ${user.profileInfo.surname}">

                        </h3>
                        <p class="size-12"
                           th:text="${user.profileInfo.dateOfBirth!=null} ? ${user.profileInfo.getAge()} : 'Дата рождения не указана'"></p>
                        <p class="size-12"
                           th:text="${user.profileInfo.description!='' and user.profileInfo.description!=null} ? *{user.profileInfo.description} : 'Нет описания'"></p>
                        <!-- /About -->

                        <!-- /About -->

                        <hr class="half-margins">
                        <!-- Social -->
                        <h6>Follow Me</h6>
                        <a href="#" class="btn ico-only btn-facebook btn-xs" title="Facebook"><i
                                class="fa fa-facebook"></i></a>
                        <a href="#" class="btn ico-only btn-twitter btn-xs" title="Twitter"><i
                                class="fa fa-twitter"></i></a>
                        <a href="#" class="btn ico-only btn-google-plus btn-xs" title="Google plus"><i
                                class="fa fa-google-plus"></i></a>
                        <a href="#" class="btn ico-only btn-linkedin btn-xs" title="Linked In"><i
                                class="fa fa-linkedin"></i></a>
                        <a href="#" class="btn ico-only btn-pinterest btn-xs" title="Pinterest"><i
                                class="fa fa-pinterest"></i></a>
                        <a href="#" class="btn ico-only btn-flickr btn-xs" title="Flickr"><i
                                class="fa fa-flickr"></i></a>
                        <a href="#" class="btn ico-only btn-tumblr btn-xs" title="Tumblr"><i
                                class="fa fa-tumblr"></i></a>
                        <a href="#" class="btn ico-only btn-skype btn-xs" title="Skype"><i class="fa fa-skype"></i></a>
                        <a href="#" class="btn ico-only btn-stackoverflow btn-xs" title="Stack Overflow"><i
                                class="fa fa-stack-overflow"></i></a>
                        <a href="#" class="btn ico-only btn-instagram btn-xs" title="Instagram"><i
                                class="fa fa-instagram"></i></a>
                        <a href="#" class="btn ico-only btn-dribbble btn-xs" title="Dribble"><i
                                class="fa fa-dribbble"></i></a>
                        <a href="#" class="btn ico-only btn-youtube btn-xs" title="Youtube"><i
                                class="fa fa-youtube"></i></a>
                        <a href="#" class="btn ico-only btn-vimeo btn-xs" title="Vimeo"><i
                                class="fa fa-vimeo-square"></i></a>
                        <a href="#" class="btn ico-only btn-rss btn-xs" title="Rss"><i class="fa fa-rss"></i></a>
                        <!-- /Social -->

                    </div>
                </section>
            </div><!-- /COL 1 -->

            <!-- COL 2 -->
            <div class="col-md-5">

                <div class="tabs white nomargin-top">
                    <ul class="nav nav-tabs nav-justified mb-3">
                        <li class="active">
                            <a href="#edit" data-toggle="tab">Редактировать</a>
                        </li>

                        <li class="active">
                            <a class="btn btn-primary" href="/">Назад</a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <!-- Overview -->


                        <!-- Edit -->
                        <div id="edit" class="tab-pane active">

                            <form class="form-horizontal padding-10" enctype="multipart/form-data"
                                  th:action="@{/edit/profile} "
                                  th:object="${editedProfileInfo}" th:method="POST">
                                <h4>Основная информация</h4>
                                <fieldset>
                                    <div th:if="${profileChanged}">
                                        <div class="alert alert-success">
                                            Основная информация обновлена
                                        </div>
                                    </div>
                                    <div th:if="${photoChanged}">
                                        <div class="alert alert-success">
                                            Фото обновлено
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Имя</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control profileFirstName"
                                                   id="profileFirstName"
                                                   th:classappend=" ${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                                                   name="name" th:value="${user.profileInfo.name}">
                                            <div class="invalid-feedback text-left mb-3"
                                                 th:if="${#fields.hasErrors('name')}"
                                                 th:text=" ${#fields.errors('name').get(0) }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="profileLastName">Фамилия</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="profileLastName"
                                                   th:classappend=" ${#fields.hasErrors('surname')} ? 'is-invalid' : 'mb-3'"
                                                   name="surname" th:value="${user.profileInfo.surname}">
                                            <div class="invalid-feedback text-left mb-3"
                                                 th:if="${#fields.hasErrors('surname')}"
                                                 th:text=" ${#fields.errors('surname').get(0) }">

                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Город</label>
                                        <div class="col-md-8">
                                            <input class="form-control" list="datalistOptions" id="exampleDataList"
                                                   th:classappend=" ${#fields.hasErrors('city')} ? 'is-invalid' : 'mb-3'"
                                                   name="city" placeholder="Введите город"
                                                   th:value="${user.profileInfo.city}">
                                            <datalist id="datalistOptions">
                                                <option value="Москва">Москва</option>
                                                <option value="Санкт-Петербург">Санкт-Петербург</option>
                                                <option value="Пенза">Пенза</option>
                                                <option value="Абакан">Абакан</option>
                                                <option value="Азов">Азов</option>
                                                <option value="Александров">Александров</option>
                                                <option value="Алексин">Алексин</option>
                                                <option value="Альметьевск">Альметьевск</option>
                                                <option value="Анапа">Анапа</option>
                                                <option value="Ангарск">Ангарск</option>
                                                <option value="Анжеро">Анжеро-Судженск</option>
                                                <option value="Апатиты">Апатиты</option>
                                                <option value="Арзамас">Арзамас</option>
                                                <option value="Армавир">Армавир</option>
                                                <option value="Арсеньев">Арсеньев</option>
                                                <option value="Артем">Артем</option>
                                                <option value="Архангельск">Архангельск</option>
                                                <option value="Асбест">Асбест</option>
                                                <option value="Астрахань">Астрахань</option>
                                                <option value="Ачинск">Ачинск</option>
                                                <option value="Балаково">Балаково</option>
                                                <option value="Балахна">Балахна</option>
                                                <option value="Балашиха">Балашиха</option>
                                                <option value="Балашов">Балашов</option>
                                                <option value="Барнаул">Барнаул</option>
                                                <option value="Батайск">Батайск</option>
                                                <option value="Белгород">Белгород</option>
                                                <option value="Белебей">Белебей</option>
                                                <option value="Белово">Белово</option>
                                                <option value="Белогорск (Амурская область)">Белогорск (Амурская
                                                    область)
                                                </option>
                                                <option value="Белорецк">Белорецк</option>
                                                <option value="Белореченск">Белореченск</option>
                                                <option value="Бердск">Бердск</option>
                                                <option value="Березники">Березники</option>
                                                <option value="Березовский (Свердловская область)">Березовский
                                                    (Свердловская область)
                                                </option>
                                                <option value="Бийск">Бийск</option>
                                                <option value="Биробиджан">Биробиджан</option>
                                                <option value="Благовещенск (Амурская область)">Благовещенск (Амурская
                                                    область)
                                                </option>
                                                <option value="Бор">Бор</option>
                                                <option value="Борисоглебск">Борисоглебск</option>
                                                <option value="Боровичи">Боровичи</option>
                                                <option value="Братск">Братск</option>
                                                <option value="Брянск">Брянск</option>
                                                <option value="Бугульма">Бугульма</option>
                                                <option value="Буденновск">Буденновск</option>
                                                <option value="Бузулук">Бузулук</option>
                                                <option value="Буйнакск">Буйнакск</option>
                                                <option value="Великие Луки">Великие Луки</option>
                                                <option value="Великий Новгород">Великий Новгород</option>
                                                <option value="Верхняя Пышма">Верхняя Пышма</option>
                                                <option value="Видное">Видное</option>
                                                <option value="Владивосток">Владивосток</option>
                                                <option value="Владикавказ">Владикавказ</option>
                                                <option value="Владимир">Владимир</option>
                                                <option value="Волгоград">Волгоград</option>
                                                <option value="Волгодонск">Волгодонск</option>
                                                <option value="Волжск">Волжск</option>
                                                <option value="Волжский">Волжский</option>
                                                <option value="Вологда">Вологда</option>
                                                <option value="Вольск">Вольск</option>
                                                <option value="Воркута">Воркута</option>
                                                <option value="Воронеж">Воронеж</option>
                                                <option value="Воскресенск">Воскресенск</option>
                                                <option value="Воткинск">Воткинск</option>
                                                <option value="Всеволожск">Всеволожск</option>
                                                <option value="Выборг">Выборг</option>
                                                <option value="Выкса">Выкса</option>
                                                <option value="Вязьма">Вязьма</option>
                                                <option value="Гатчина">Гатчина</option>
                                                <option value="Геленджик">Геленджик</option>
                                                <option value="Георгиевск">Георгиевск</option>
                                                <option value="Глазов">Глазов</option>
                                                <option value="Горно-Алтайск">Горно-Алтайск</option>
                                                <option value="Грозный">Грозный</option>
                                                <option value="Губкин">Губкин</option>
                                                <option value="Гудермес">Гудермес</option>
                                                <option value="Гуково">Гуково</option>
                                                <option value="Гусь-Хрустальный">Гусь-Хрустальный</option>
                                                <option value="Дербент">Дербент</option>
                                                <option value="Дзержинск">Дзержинск</option>
                                                <option value="Димитровград">Димитровград</option>
                                                <option value="Дмитров">Дмитров</option>
                                                <option value="Долгопрудный">Долгопрудный</option>
                                                <option value="Домодедово">Домодедово</option>
                                                <option value="Донской">Донской</option>
                                                <option value="Дубна">Дубна</option>
                                                <option value="Евпатория">Евпатория</option>
                                                <option value="Егорьевск">Егорьевск</option>
                                                <option value="Ейск">Ейск</option>
                                                <option value="Екатеринбург">Екатеринбург</option>
                                                <option value="Елабуга">Елабуга</option>
                                                <option value="Елец">Елец</option>
                                                <option value="Ессентуки">Ессентуки</option>
                                                <option value="Железногорск (Красноярский край)">Железногорск
                                                    (Красноярский край)
                                                </option>
                                                <option value="Железногорск (Курская область)">Железногорск (Курская
                                                    область)
                                                </option>
                                                <option value="Жигулевск">Жигулевск</option>
                                                <option value="Жуковский">Жуковский</option>
                                                <option value="Заречный">Заречный</option>
                                                <option value="Зеленогорск">Зеленогорск</option>
                                                <option value="Зеленодольск">Зеленодольск</option>
                                                <option value="Златоуст">Златоуст</option>
                                                <option value="Иваново">Иваново</option>
                                                <option value="Ивантеевка">Ивантеевка</option>
                                                <option value="Ижевск">Ижевск</option>
                                                <option value="Избербаш">Избербаш</option>
                                                <option value="Иркутск">Иркутск</option>
                                                <option value="Искитим">Искитим</option>
                                                <option value="Ишим">Ишим</option>
                                                <option value="Ишимбай">Ишимбай</option>
                                                <option value="Йошкар-Ола">Йошкар-Ола</option>
                                                <option value="Казань">Казань</option>
                                                <option value="Калининград">Калининград</option>
                                                <option value="Калуга">Калуга</option>
                                                <option value="Каменск-Уральский">Каменск-Уральский</option>
                                                <option value="Каменск-Шахтинский">Каменск-Шахтинский</option>
                                                <option value="Камышин">Камышин</option>
                                                <option value="Канск">Канск</option>
                                                <option value="Каспийск">Каспийск</option>
                                                <option value="Кемерово">Кемерово</option>
                                                <option value="Керчь">Керчь</option>
                                                <option value="Кинешма">Кинешма</option>
                                                <option value="Кириши">Кириши</option>
                                                <option value="Киров (Кировская область)">Киров (Кировская область)
                                                </option>
                                                <option value="Кирово-Чепецк">Кирово-Чепецк</option>
                                                <option value="Киселевск">Киселевск</option>
                                                <option value="Кисловодск">Кисловодск</option>
                                                <option value="Клин">Клин</option>
                                                <option value="Клинцы">Клинцы</option>
                                                <option value="Ковров">Ковров</option>
                                                <option value="Когалым">Когалым</option>
                                                <option value="Коломна">Коломна</option>
                                                <option value="Комсомольск-на-Амуре">Комсомольск-на-Амуре</option>
                                                <option value="Копейск">Копейск</option>
                                                <option value="Королев">Королев</option>
                                                <option value="Кострома">Кострома</option>
                                                <option value="Котлас">Котлас</option>
                                                <option value="Красногорск">Красногорск</option>
                                                <option value="Краснодар">Краснодар</option>
                                                <option value="Краснокаменск">Краснокаменск</option>
                                                <option value="Краснокамск">Краснокамск</option>
                                                <option value="Краснотурьинск">Краснотурьинск</option>
                                                <option value="Красноярск">Красноярск</option>
                                                <option value="Кропоткин">Кропоткин</option>
                                                <option value="Крымск">Крымск</option>
                                                <option value="Кстово">Кстово</option>
                                                <option value="Кузнецк">Кузнецк</option>
                                                <option value="Кумертау">Кумертау</option>
                                                <option value="Кунгур">Кунгур</option>
                                                <option value="Курган">Курган</option>
                                                <option value="Курск">Курск</option>
                                                <option value="Кызыл">Кызыл</option>
                                                <option value="Лабинск">Лабинск</option>
                                                <option value="Лениногорск">Лениногорск</option>
                                                <option value="Ленинск-Кузнецкий">Ленинск-Кузнецкий</option>
                                                <option value="Лесосибирск">Лесосибирск</option>
                                                <option value="Липецк">Липецк</option>
                                                <option value="Лиски">Лиски</option>
                                                <option value="Лобня">Лобня</option>
                                                <option value="Лысьва">Лысьва</option>
                                                <option value="Лыткарино">Лыткарино</option>
                                                <option value="Люберцы">Люберцы</option>
                                                <option value="Магадан">Магадан</option>
                                                <option value="Магнитогорск">Магнитогорск</option>
                                                <option value="Майкоп">Майкоп</option>
                                                <option value="Махачкала">Махачкала</option>
                                                <option value="Междуреченск">Междуреченск</option>
                                                <option value="Мелеуз">Мелеуз</option>
                                                <option value="Миасс">Миасс</option>
                                                <option value="Минеральные Воды">Минеральные Воды</option>
                                                <option value="Минусинск">Минусинск</option>
                                                <option value="Михайловка">Михайловка</option>
                                                <option value="Михайловск (Ставропольский край)">Михайловск
                                                    (Ставропольский край)
                                                </option>
                                                <option value="Мичуринск">Мичуринск</option>
                                                <option value="Мурманск">Мурманск</option>
                                                <option value="Муром">Муром</option>
                                                <option value="Мытищи">Мытищи</option>
                                                <option value="Набережные Челны">Набережные Челны</option>
                                                <option value="Назарово">Назарово</option>
                                                <option value="Назрань">Назрань</option>
                                                <option value="Нальчик">Нальчик</option>
                                                <option value="Наро-Фоминск">Наро-Фоминск</option>
                                                <option value="Находка">Находка</option>
                                                <option value="Невинномысск">Невинномысск</option>
                                                <option value="Нерюнгри">Нерюнгри</option>
                                                <option value="Нефтекамск">Нефтекамск</option>
                                                <option value="Нефтеюганск">Нефтеюганск</option>
                                                <option value="Нижневартовск">Нижневартовск</option>
                                                <option value="Нижнекамск">Нижнекамск</option>
                                                <option value="Нижний Новгород">Нижний Новгород</option>
                                                <option value="Нижний Тагил">Нижний Тагил</option>
                                                <option value="Новоалтайск">Новоалтайск</option>
                                                <option value="Новокузнецк">Новокузнецк</option>
                                                <option value="Новокуйбышевск">Новокуйбышевск</option>
                                                <option value="Новомосковск">Новомосковск</option>
                                                <option value="Новороссийск">Новороссийск</option>
                                                <option value="Новосибирск">Новосибирск</option>
                                                <option value="Новотроицк">Новотроицк</option>
                                                <option value="Новоуральск">Новоуральск</option>
                                                <option value="Новочебоксарск">Новочебоксарск</option>
                                                <option value="Новочеркасск">Новочеркасск</option>
                                                <option value="Новошахтинск">Новошахтинск</option>
                                                <option value="Новый Уренгой">Новый Уренгой</option>
                                                <option value="Ногинск">Ногинск</option>
                                                <option value="Норильск">Норильск</option>
                                                <option value="Ноябрьск">Ноябрьск</option>
                                                <option value="Нягань">Нягань</option>
                                                <option value="Обнинск">Обнинск</option>
                                                <option value="Одинцово">Одинцово</option>
                                                <option value="Озерск (Челябинская область)">Озерск (Челябинская
                                                    область)
                                                </option>
                                                <option value="Октябрьский">Октябрьский</option>
                                                <option value="Омск">Омск</option>
                                                <option value="Орел">Орел</option>
                                                <option value="Оренбург">Оренбург</option>
                                                <option value="Орехово-Зуево">Орехово-Зуево</option>
                                                <option value="Орск">Орск</option>
                                                <option value="Павлово">Павлово</option>
                                                <option value="Павловский Посад">Павловский Посад</option>
                                                <option value="Первоуральск">Первоуральск</option>
                                                <option value="Пермь">Пермь</option>
                                                <option value="Петрозаводск">Петрозаводск</option>
                                                <option value="Петропавловск-Камчатский">Петропавловск-Камчатский
                                                </option>
                                                <option value="Подольск">Подольск</option>
                                                <option value="Полевской">Полевской</option>
                                                <option value="Прокопьевск">Прокопьевск</option>
                                                <option value="Прохладный">Прохладный</option>
                                                <option value="Псков">Псков</option>
                                                <option value="Пушкино">Пушкино</option>
                                                <option value="Пятигорск">Пятигорск</option>
                                                <option value="Раменское">Раменское</option>
                                                <option value="Ревда">Ревда</option>
                                                <option value="Реутов">Реутов</option>
                                                <option value="Ржев">Ржев</option>
                                                <option value="Рославль">Рославль</option>
                                                <option value="Россошь">Россошь</option>
                                                <option value="Ростов-на-Дону">Ростов-на-Дону</option>
                                                <option value="Рубцовск">Рубцовск</option>
                                                <option value="Рыбинск">Рыбинск</option>
                                                <option value="Рязань">Рязань</option>
                                                <option value="Салават">Салават</option>
                                                <option value="Сальск">Сальск</option>
                                                <option value="Самара">Самара</option>
                                                <option value="Саранск">Саранск</option>
                                                <option value="Сарапул">Сарапул</option>
                                                <option value="Саратов">Саратов</option>
                                                <option value="Саров">Саров</option>
                                                <option value="Свободный">Свободный</option>
                                                <option value="Севастополь">Севастополь</option>
                                                <option value="Северодвинск">Северодвинск</option>
                                                <option value="Северск">Северск</option>
                                                <option value="Сергиев Посад">Сергиев Посад</option>
                                                <option value="Серов">Серов</option>
                                                <option value="Серпухов">Серпухов</option>
                                                <option value="Сертолово">Сертолово</option>
                                                <option value="Сибай">Сибай</option>
                                                <option value="Симферополь">Симферополь</option>
                                                <option value="Славянск-на-Кубани">Славянск-на-Кубани</option>
                                                <option value="Смоленск">Смоленск</option>
                                                <option value="Соликамск">Соликамск</option>
                                                <option value="Солнечногорск">Солнечногорск</option>
                                                <option value="Сосновый Бор">Сосновый Бор</option>
                                                <option value="Сочи">Сочи</option>
                                                <option value="Ставрополь">Ставрополь</option>
                                                <option value="Старый Оскол">Старый Оскол</option>
                                                <option value="Стерлитамак">Стерлитамак</option>
                                                <option value="Ступино">Ступино</option>
                                                <option value="Сургут">Сургут</option>
                                                <option value="Сызрань">Сызрань</option>
                                                <option value="Сыктывкар">Сыктывкар</option>
                                                <option value="Таганрог">Таганрог</option>
                                                <option value="Тамбов">Тамбов</option>
                                                <option value="Тверь">Тверь</option>
                                                <option value="Тимашевск">Тимашевск</option>
                                                <option value="Тимашевск">Тихвин</option>
                                                <option value="Тихорецк">Тихорецк</option>
                                                <option value="Тобольск">Тобольск</option>
                                                <option value="Тольятти">Тольятти</option>
                                                <option value="Томск">Томск</option>
                                                <option value="Троицк">Троицк</option>
                                                <option value="Туапсе">Туапсе</option>
                                                <option value="Туймазы">Туймазы</option>
                                                <option value="Тула">Тула</option>
                                                <option value="Тюмень">Тюмень</option>
                                                <option value="Узловая">Узловая</option>
                                                <option value="Улан-Удэ">Улан-Удэ</option>
                                                <option value="Ульяновск">Ульяновск</option>
                                                <option value="Урус-Мартан">Урус-Мартан</option>
                                                <option value="Усолье-Сибирское">Усолье-Сибирское</option>
                                                <option value="Уссурийск">Уссурийск</option>
                                                <option value="Усть-Илимск">Усть-Илимск</option>
                                                <option value="Уфа">Уфа</option>
                                                <option value="Ухта">Ухта</option>
                                                <option value="Феодосия">Феодосия</option>
                                                <option value="Фрязино">Фрязино</option>
                                                <option value="Хабаровск">Хабаровск</option>
                                                <option value="Ханты-Мансийск">Ханты-Мансийск</option>
                                                <option value="Хасавюрт">Хасавюрт</option>
                                                <option value="Химки">Химки</option>
                                                <option value="Чайковский">Чайковский</option>
                                                <option value="Чапаевск">Чапаевск</option>
                                                <option value="Чебоксары">Чебоксары</option>
                                                <option value="Челябинск">Челябинск</option>
                                                <option value="Черемхово">Черемхово</option>
                                                <option value="Череповец">Череповец</option>
                                                <option value="Черкесск">Черкесск</option>
                                                <option value="Черногорск">Черногорск</option>
                                                <option value="Чехов">Чехов</option>
                                                <option value="Чистополь">Чистополь</option>
                                                <option value="Чита">Чита</option>
                                                <option value="Шадринск">Шадринск</option>
                                                <option value="Шали">Шали</option>
                                                <option value="Шахты">Шахты</option>
                                                <option value="Шуя">Шуя</option>
                                                <option value="Щекино">Щекино</option>
                                                <option value="Щелково">Щелково</option>
                                                <option value="Электросталь">Электросталь</option>
                                                <option value="Элиста">Элиста</option>
                                                <option value="Энгельс">Энгельс</option>
                                                <option value="Южно-Сахалинск">Южно-Сахалинск</option>
                                                <option value="Юрга">Юрга</option>
                                                <option value="Якутск">Якутск</option>
                                                <option value="Ялта">Ялта</option>
                                                <option value="Ярославль">Ярославль</option>
                                            </datalist>
                                            <div class="invalid-feedback text-left mb-3 fs-5"
                                                 th:if="${#fields.hasErrors('city')}"
                                                 th:text=" ${#fields.errors('city').get(0) }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="profileDateOfBirth" id="dateOfBirth">Дата
                                            рождения</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="profileDateOfBirth"
                                                   name="dateOfBirth" placeholder="Добавьте дату рождения"
                                                   th:value="${user.profileInfo.dateOfBirth!=null ?  #temporals.format(user.profileInfo.dateOfBirth,'dd/MM/yyyy')  : ''}"
                                                   pattern="\d{2}(-|\/)\d{2}(-|\/)\d{4}">
                                            <div class="invalid-feedback text-left mb-3 fs-5"
                                                 th:if="${#fields.hasErrors('dateOfBirth')}"
                                                 th:text=" ${#fields.errors('dateOfBirth').get(0) }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label" for="profileCompany">Описание</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="profileDescription"
                                                   name="description" th:value="${user.profileInfo.description}"
                                                   placeholder="Добавьте описание">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="profileCompany"
                                               id="website">Веб-сайт</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="profileCompany"
                                                   name="website" th:value="${user.profileInfo.website}"
                                                   placeholder="Добавьте ваш веб-сайт">
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="row">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                                        <button type="reset" class="btn btn-default">Сбросить</button>
                                    </div>
                                </div>
                            </form>

                            <hr>
                            <form class="form-horizontal padding-10" enctype="multipart/form-data"
                                  th:action="@{/edit/photo} "
                                  th:method="POST">
                                <fieldset>
                                    <div class="form-group">
                                        <div class="sky-form">
                                            <label class="col-xs-3 control-label">Фотография</label>
                                            <div class="col-md-8">
                                                <label for="file" class="input input-file">
                                                    <div class="button">
                                                        <input type="file" id="file" accept="image/*" name="file">
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="row">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                                    </div>
                                </div>
                            </form>

                            <hr>


                            <form class="form-horizontal padding-10"
                                  th:action="@{/edit/password} "
                                  th:method="POST">
                                <h4>Смена пароля</h4>
                                <div th:if="${errorCurrentPassword}">
                                    <div class="alert alert-danger">
                                        Неверный текущий пароль
                                    </div>
                                </div>
                                <div th:if="${errorPassword}">
                                    <div class="alert alert-danger">
                                        Новые пароли не совпадают
                                    </div>
                                </div>
                                <div th:if="${passwordChanged}">
                                    <div class="alert alert-success">
                                        Пароль изменен
                                    </div>
                                </div>
                                <fieldset class="mb-xl">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="profileNewPassword">Текущий
                                            Пароль</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="profileNewPassword"
                                                   name="currentPassword">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="profileNewPasswordRepeat">Новый
                                            Пароль</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="profileNewPasswordRepeat"
                                                   name="newPassword">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="profileNewPasswordRepeat">Повторите
                                            Пароль</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control"
                                                   id="profileConfirmPasswordRepeat"
                                                   name="passwordConfirm">
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="row">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                                        <button type="reset" class="btn btn-default">Сбросить</button>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>

            </div><!-- /COL 2 -->

            <!-- COL 3 -->
            <div class="col-md-4">
                <!-- projects -->
                <section class="panel panel-default">
                    <header class="panel-heading">
                        <h2 class="panel-title elipsis">
                            <i class="fa fa-rss"></i> Projects
                        </h2>
                    </header>

                    <div class="panel-body noradius padding-10">
                        <ul class="bullet-list list-unstyled">
                            <li class="red">
                                <h3>Epona HTML5 Template</h3>
                                <span class="text-gray size-12">Lorem ipsum dolor sit amet, consectetuer adipiscing </span>
                            </li>
                            <li class="green">
                                <h3>Atropos Template</h3>
                                <span class="text-gray size-12">Lorem ipsum dolor sit amet, consectetuer adipiscing </span>
                            </li>
                            <li class="blue">
                                <h3>isisone Template</h3>
                                <span class="text-gray size-12">Lorem ipsum dolor sit amet, consectetuer adipiscing </span>
                            </li>
                            <li class="orange">
                                <h3>Deusone Template</h3>
                                <span class="text-gray size-12">Lorem ipsum dolor sit amet, consectetuer adipiscing </span>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- /projects -->

                <!-- activity -->
                <section class="panel panel-default">
                    <header class="panel-heading">
                        <h2 class="panel-title elipsis">
                            <i class="fa fa-rss"></i> Activity
                        </h2>
                    </header>

                    <div class="panel-body noradius padding-10">
                        <!-- activity list -->
                        <div class="row profile-activity">
                            <!-- activity item -->
                            <div class="col-xs-2 col-sm-1">
                                <time datetime="2014-06-29" class="datebox">
                                    <strong>Jun</strong>
                                    <span>29</span>
                                </time>
                            </div>

                            <div class="col-xs-10 col-sm-11">
                                <h6><a href="page-sidebar.html">Lorem ipsum dolor sit amet</a></h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod
                                    tincidunt laoreet dolore magna aliquam tincidunt erat volutpat laoreet dolore magna
                                    aliquam
                                    tincidunt erat volutpat.
                                </p>
                            </div>
                            <!-- /activity item -->

                            <div class="col-sm-12">
                                <hr class="half-margins">
                            </div><!-- /activity separator -->

                            <!-- activity item -->
                            <div class="col-xs-2 col-sm-1">
                                <time datetime="2014-06-29" class="datebox">
                                    <strong>Jun</strong>
                                    <span>29</span>
                                </time>
                            </div>

                            <div class="col-xs-10 col-sm-11">
                                <h6><a href="page-sidebar.html">Sed diam nonummy nibh euismod</a></h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod
                                    tincidunt laoreet dolore magna aliquam tincidunt erat volutpat laoreet dolore magna
                                    aliquam
                                    tincidunt erat volutpat.
                                </p>
                            </div>
                            <!-- /activity item -->

                            <div class="col-sm-12">
                                <hr class="half-margins">
                            </div><!-- /activity separator -->

                            <!-- paginatoin -->
                            <div class="text-center">
                                <ul class="pagination pagination-sm">
                                    <li class="disabled"><a href="#">Prev</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
                            </div>
                            <!-- /paginatoin -->
                        </div>
                        <!-- /activity list -->
                    </div>
                </section>
                <!-- /activity -->
            </div><!-- /COL 3 -->
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>


<script>
    $(document).ready(function () {
        var date_input = $('input[name="dateOfBirth"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'dd/mm/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>
<script src="/profileEdit/profileEdit.js"></script>
<script type="text/javascript"></script>
</body>
</html>