<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="utf-8">
    <title>social network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--  css для логина  -->
    <link href="login/login.css" rel="stylesheet">
</head>

<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div id="content">
        <div class="container-fluid">
            <div class="lock-container">
                <div class="panel panel-default text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-circle img-login">
                    <form name="userform" class="panel-body" th:action="@{/recoveryPage/} + ${token}" th:method="POST">
                        <div th:if="${errorConfPassword}">
                            <div class="alert alert-danger">
                                Пароли не совпадают!
                            </div>
                        </div>
                        <div th:if="${errorLenPassword}">
                            <div class="alert alert-danger">
                                Пароли слишком короткие!
                            </div>
                        </div>

                        <div class="alert alert-success">
                            <span th:text="'Восстановление аккаунта пользователя '+${username}"></span>
                        </div>
                        <input class="form-control" id="password" name="password" type="password"
                               placeholder="Введите пароль" required="true">
                        <input class="form-control" id="passwordConfirm" name="passwordConfirm" type="password"
                               placeholder="Введите пароль еще раз" required="true">
                        <button type="submit" class="btn btn-success">Восстановить<i class="fa fa-fw fa-unlock-alt"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- скрипт для логина  -->
<script src="login/login.js"></script>

</body>
</html>