<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="utf-8">
    <title>social network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--  css для логина  -->
    <link href="login/login.css" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div id="content">
        <div class="container-fluid">
            <div class="lock-container">
                <h1>Регистрация</h1>
                <div class="panel panel-default text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-circle img-login">
                    <form class="panel-body" action="/register" th:object="${user}" th:method="POST"
                          onsubmit="return validateCaptcha()">
                        <div th:if="${errorAnomaly}">
                            <div class="alert alert-danger">
                                Сегодня вам не повезло. Это неизвестная ошибка!
                            </div>
                        </div>
                        <input class="form-control" type="text"
                               th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : 'mb-3'"
                               th:field="*{username}"
                               placeholder="Введите имя">
                        <div class="invalid-feedback text-left mb-3 fs-5"
                             th:if="${#fields.hasErrors('username')}"
                             th:text="${#fields.errors('username').get(0) }">
                        </div>
                        <input class="form-control" type="email"
                               th:classappend="${#fields.hasErrors('userEmail') or userEmailError !=null} ? 'is-invalid' : 'mb-3'"
                               th:field="*{userEmail}"
                               placeholder="Введите почту">
                        <div class="invalid-feedback text-left mb-3 fs-5"
                             th:if="${#fields.hasErrors('userEmail')}"
                             th:text="${#fields.errors('userEmail').get(0) }">
                        </div>
                        <input class="form-control" type="password"
                               th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : 'mb-3'"
                               th:field="*{password}" placeholder="Введите пароль"
                        >
                        <div class="invalid-feedback text-left mb-3 fs-5"
                             th:if="${#fields.hasErrors('password')}"
                             th:text="${#fields.errors('password').get(0) }">

                        </div>
                        <input class="form-control" type="password"
                               th:classappend="${#fields.hasErrors('passwordConfirm')}? 'is-invalid' : 'mb-3'"
                               th:field="*{passwordConfirm}"
                               placeholder="Введите пароль еще раз">
                        <div class="invalid-feedback text-left mb-3 fs-5"
                             th:if="${#fields.hasErrors('passwordConfirm') }"
                             th:text="${#fields.errors('passwordConfirm').get(0)}">
                        </div>
                        <div style="transform:scale(0.8); transform-origin:0;"
                             class="g-recaptcha justify-content-center"
                             th:data-sitekey="${@environment.getProperty('recaptcha.key')}"></div>
                        <br/>
                        <button type="submit" class="btn btn-success fs-4">Продолжить регистрацию <i
                                class="fa fa-fw fa-unlock-alt"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- скрипт для логина  -->
<script src="login/login.js"></script>

<script type="text/javascript">
    function validateCaptcha() {
        if (grecaptcha.getResponse()) {
            return true;
        } else {
            alert("Заполните капчу")
            return false;
        }
    }
</script>

</body>
</html>