<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>social network user profile example - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/profile/profile.css" rel="stylesheet">
    <link href="/friendList/friendList.css" rel="stylesheet">
    <link href="/error/error-404.css" rel="stylesheet">
</head>
<body>


<script>
    let cords = ['scrollX','scrollY'];
    // Перед закрытием записываем в локалсторадж window.scrollX и window.scrollY как scrollX и scrollY
    window.addEventListener('unload', e => cords.forEach(cord => localStorage[cord] = window[cord]));
    // Прокручиваем страницу к scrollX и scrollY из localStorage (либо 0,0 если там еще ничего нет)
    window.scroll(...cords.map(cord => localStorage[cord]));
</script>

<section class="error-404-section section-padding" th:if="!${#authentication.getPrincipal().getActive()}">
    <div class="error">
        <img src="/img/error404.png" alt>
    </div>
    <div class="error-message">
        <h3>Ой! Аккаунт не активирован!</h3>
        <p>Активируйте аккаунт, перейдя по ссылке из письма.</p>
        <a href="javascript:history.go(-1)" class="theme-btn">Вернуться назад</a>
    </div>
</section>


<script type="text/javascript">

</script>
</body>
</html>